%% List of supported auth providers and their config.
%% First update app_secret and xrds_endpoint fields properly
%% then to add it to Onezone:
%% - Copy it to /opt/onezone/auth.config before starting docker
%% - or to replace it in running Onezone container:
%% $ docker cp auth.config onezone-1:/var/lib/oz_worker/auth.config
%% $ docker exec -it onezone-1 bash
%% $ oz_worker restart
%% $ exit

[
    % Currently Basic Auth (login/password) has no configuration options.
    % Just leave the tuple below to enable or remove it to disable Basic Auth.
    {basicAuth, []},

    % Currently other authentication options are disabled by default, because
    % they require cumbersome configuration per each OpenID provider.

    {rhea, [
        % Standard config
        {auth_module, auth_keycloak},
        {app_id, <<"onezone-kickoff">>},
        {app_secret, <<"PLACE_APPSECRET_HERE">>},
        % Provider specific config
        {xrds_endpoint, <<"https://fed-id.nuv.la/auth/realms/PLACE_ORG_HERE/.well-known/openid-configuration">>},
        {group_mapping, [
            {enabled, true},
            % All groups from this IdP will belong to the below VO group.
            {vo_group_id, <<"HNSciCloud-RHEA">>},
            {attributes_to_map, [
                {<<"groups">>, team, {nested, <<"/">>}},
                {<<"roles">>, role, flat} %,
                %{<<"entitlement">>, role, flat}
            ]}
            % Optional field
            %{super_group, <<"vo:HNSciCloud-RHEA/rl:data-manager">>}
        ]}
    ]}
].

